* {
  font-family: "Roboto", sans-serif;
}

.slogan {
  font-size: 17px;
  color: #222222;
  margin-top: 19px;
}

.mobile-app {
  background: url(../img/bg-MobileApp.jpg);
  text-align: center;
  min-height: 864px;
  padding: 48px 0 80px 0;
}

.mobile-app .reasons-wrapper {
  margin-top: 13px;
}

.mobile-app .reasons-wrapper .reasons-item {
  margin: 0 auto;
  margin-top: 19px;
  min-height: 280px;
  max-width: 320px;
  position: relative;
  background-position: center center;
}

.mobile-app .reasons-wrapper .reasons-item .reasons-title {
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 91px;
  line-height: 1;
}

.mobile-app .reasons-wrapper .reasons-item .plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  padding: 6px;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.mobile-app .reasons-wrapper .reasons-item .plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.mobile-app .reasons-wrapper .reasons-item .plus::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
}

.mobile-app .reasons-wrapper .reasons-item .plus:hover::after, .mobile-app .reasons-wrapper .reasons-item .plus:hover::before {
  background-color: red;
}

.mobile-app .reasons-wrapper .registration {
  background-image: url(../img/icons/MobileApp-registration.png);
  background-size: cover;
}

.mobile-app .reasons-wrapper .reliable {
  background-image: url(../img/icons/MobileApp-reliable.png);
  background-size: cover;
}

.mobile-app .reasons-wrapper .price {
  background-image: url(../img/icons/MobileApp-price.png);
  background-size: cover;
}

.mobile-app .reasons-wrapper .payment {
  background-image: url(../img/icons/MobileApp-payment.png);
  background-size: cover;
}

.mobile-app .reasons-wrapper .connection {
  background-image: url(../img/icons/MobileApp-connection.png);
  background-size: cover;
}

.mobile-app .reasons-wrapper .split {
  background-image: url(../img/icons/MobileApp-split.png);
  background-size: cover;
}

.double-bg {
  min-height: 900px;
  text-align: center;
}

.double-bg .first-bg {
  max-height: 500px;
  background-color: #070716;
  padding-top: 57px;
}

.double-bg .first-bg .nameplate {
  background-color: white;
  color: #070716;
}

.double-bg .first-bg .title {
  color: white;
}

.double-bg .first-bg .slogan {
  color: white;
}

.double-bg .first-bg img.car {
  padding-top: 56px;
}

.double-bg .first-bg .text-active {
  display: none;
}

.double-bg .second-bg {
  background-image: url(../img/bg-MobileApp.jpg);
  height: 400px;
  position: relative;
  z-index: -1;
}

.double-bg .second-bg .text {
  position: absolute;
  font-weight: 300;
  max-width: 300px;
  bottom: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 17px;
  color: #222222;
}

.terms {
  min-height: 920px;
  padding: 68px 0 84px 0;
}

.terms .nameplate {
  text-align: center;
}

.terms .title {
  text-align: center;
}

.terms .list-block {
  margin-top: 33px;
  margin-bottom: 33px;
}

.terms .list-block-nbm {
  margin-bottom: 0px;
}

.terms .list-title {
  color: #1eacc7;
  font-size: 22px;
  line-height: 1;
}

.terms .list-context {
  margin-top: 22px;
}

.terms .list-context-item {
  list-style: none;
  color: #222222;
  line-height: 1.41;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 15px;
  position: relative;
}

.terms .list-context-item::before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url(../img/icons/check.png);
  position: absolute;
  left: -32px;
  top: 3px;
}

.terms .list-context .red-plus::before {
  background: url(../img/icons/check-red.png) center center/cover no-repeat;
}

.terms .list-bottom-text {
  color: #1eacc7;
}

.terms .list .red {
  color: #ff5656;
}

.world {
  height: 717px;
  background: url(../img/bg-world.jpg) center center/cover no-repeat;
  padding: 49px 0;
  position: relative;
}

.world .title-wrapper {
  text-align: center;
}

.world .title-wrapper .nameplate {
  color: black;
  background-color: white;
  width: 76px;
}

.world .title-wrapper .title {
  color: white;
}

.world .title-wrapper .title-description {
  margin-top: 20px;
  line-height: 1;
  color: white;
  font-size: 17px;
}

.world .bottom-text {
  position: absolute;
  bottom: 49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 15px;
  color: #1fbad6;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  padding: 14px 44px 35px 23px;
  min-height: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

footer .bottom-nav {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 360px;
}

footer .bottom-nav .main-nav {
  padding: 0 10px 0 10px;
  line-height: 1;
}

footer .bottom-nav .main-nav-item a {
  color: #070716;
  text-decoration: none;
}

footer .bottom-nav .main-nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  list-style: none;
  font-size: 15px;
}

footer .bottom-nav .secondary-nav {
  line-height: 1;
}

footer .bottom-nav .secondary-nav-item a {
  text-decoration: none;
  font-size: 11px;
  color: #999999;
  font-weight: 300;
}

footer .bottom-nav .secondary-nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer .language {
  display: block;
  text-transform: uppercase;
  color: #1fbad6;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

footer .social {
  min-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 100%;
  margin-right: 7px;
  text-decoration: none;
}

footer .social-item i {
  color: white;
}

@media (max-width: 1199px) {
  .menu-item {
    padding-left: 15px;
  }
  .menu-item-link {
    font-size: 14px;
  }
  .promo-context .promo-title h1 {
    font-size: 54px;
  }
  .promo-context .promo-title h2 {
    font-size: 33px;
  }
  .promo-context .title-context {
    font-size: 17px;
  }
  .advantages-text {
    max-width: 291px;
    max-height: 190px;
  }
  .mobile-app .reasons-wrapper .reasons-item {
    max-width: 300px;
  }
}

@media (max-width: 991px) {
  header {
    min-height: 44px;
  }
  nav {
    max-height: 44px;
  }
  nav .menu {
    padding: 10px 50px;
  }
  nav .menu-item {
    padding-left: 4px;
  }
  nav .menu-item-link {
    font-size: 12px;
  }
  .subheader .logo-text {
    font-size: 11px;
  }
  .subheader .phone {
    font-size: 11px;
  }
  .subheader .phone a {
    font-size: 18px;
  }
  .subheader .phone .point {
    margin-bottom: 5px;
  }
  .subheader .header-button {
    font-size: 15px;
    width: 100%;
    height: 40px;
    margin-top: 21px;
  }
  .promo {
    height: 700px;
  }
  .promo-context .promo-title h1 {
    font-size: 41px;
  }
  .promo-context .promo-title h2 {
    font-size: 26px;
  }
  .promo-context .title-context {
    font-size: 13px;
  }
  .advantages-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages-item .advantages-text {
    margin-top: 10px;
    max-height: 193px;
    text-align: left;
  }
  .double-bg {
    min-height: 800px;
  }
  .double-bg .car {
    width: 100%;
  }
  .double-bg .second-bg {
    height: 300px;
  }
  .double-bg .second-bg .text {
    bottom: 60px;
  }
  .mobile-app .reasons-wrapper .reasons-item {
    max-width: 230px;
  }
  footer .social {
    min-width: 183px;
  }
  footer .market {
    text-align: right;
    width: 140px;
  }
}

@media (max-width: 767px) {
  header {
    position: relative;
  }
  header .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 60px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  header .menu-item {
    border: none;
    padding-left: 0;
  }
  header .menu-item-link {
    font-size: 20px;
  }
  header .menu-active {
    left: 0;
  }
  header .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    width: 26px;
    height: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .hamburger span {
    display: block;
    background-color: white;
    margin-top: 2px;
    width: 100%;
    height: 2px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  header .hamburger-active span {
    margin-top: -2px;
  }
  header .hamburger-active span:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
  header .hamburger-active span:nth-child(2) {
    display: none;
  }
  header .hamburger-active span:nth-child(3) {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
  }
  .subheader .logo {
    margin-top: 22px;
  }
  .subheader .logo-text {
    display: none;
  }
  .subheader .phone-hidden {
    display: none;
  }
  .subheader .phone-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subheader .phone-active .phone {
    display: block;
    padding-top: 11px;
  }
  .subheader .header-button {
    width: 200px;
    margin: 0;
  }
  .promo-context .promo-title h1 {
    font-size: 40px;
  }
  .promo-context .promo-title h2 {
    font-size: 28px;
  }
  .promo-context .title-context {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .promo-context .promo-button {
    height: 53px;
    font-size: 14px;
  }
  .advantages-item .item-title {
    text-align: center;
  }
  .advantages-item .advantages-text {
    text-align: justify;
  }
  .mobile-app .reasons-item {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .mobile-app .reasons-item .plus {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
  }
  footer div:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 290px;
    margin-top: 5px;
  }
  footer div nav {
    min-height: 80px;
  }
}

@media (max-width: 575px) {
  .lol {
    min-height: 30px;
  }
  header {
    position: fixed;
    width: 100vw;
    min-height: 30px;
    z-index: 3;
  }
  header .menu-item {
    width: 100%;
  }
  header .menu-item-link {
    display: block;
    width: 100%;
    font-size: 16px;
  }
  .subheader {
    height: 60px;
  }
  .subheader .logo {
    height: 15px;
    width: 130px;
  }
  .subheader .phone {
    padding-top: 8px;
  }
  .subheader .phone a {
    font-size: 12px;
    line-height: 1;
  }
  .subheader .phone .point {
    background: none;
  }
  .subheader .header-button {
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 10px;
    height: 22px;
    width: 110px;
    margin-top: 4px;
  }
  .subheader .header-button:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  }
  .promo {
    height: 430px;
    position: relative;
    background-position: 60% 0%;
  }
  .promo-context .promo-title h1 {
    font-size: 30px;
  }
  .promo-context .promo-title h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
  }
  .promo-context .title-context {
    display: none;
  }
  .promo-context .promo-button {
    height: 50px;
    width: 210px;
    font-size: 16px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .promo-context .promo-button:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  }
  .advantages {
    padding: 22px 0px 50px 0px;
  }
  .advantages-wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .advantages .title {
    font-size: 16px;
    margin-top: 15px;
  }
  .advantages-item {
    padding: 26px 15px 0 15px;
  }
  .advantages-item .item-title {
    text-align: left;
  }
  .advantages-item .advantages-text {
    margin-left: 0;
  }
  .advantages-img {
    width: 100px;
    height: 100px;
  }
  .mobile-app {
    padding: 22px 0px 43px 0px;
  }
  .mobile-app .title {
    font-size: 16px;
    margin-top: 15px;
  }
  .mobile-app .slogan {
    font-size: 14px;
    margin-top: 11px;
  }
  .mobile-app .reasons-wrapper .reasons-item {
    margin-top: 30px;
    background-size: 100% 100%;
  }
  .mobile-app .reasons-wrapper .reasons-item .reasons-title {
    font-size: 18px;
  }
  .double-bg {
    min-height: 390px;
  }
  .double-bg .first-bg {
    height: 390px;
    padding-top: 25px;
  }
  .double-bg .first-bg img.car {
    padding-top: 35px;
  }
  .double-bg .first-bg .text-active {
    display: inline-block;
    font-size: 17px;
    color: #ffffff;
    margin-top: 23px;
    width: 250px;
  }
  .double-bg .title {
    display: none;
  }
  .double-bg .slogan {
    display: none;
  }
  .double-bg .second-bg {
    display: none;
  }
  .terms {
    padding: 25px 0;
  }
  .terms .title {
    margin-top: 15px;
    font-size: 16px;
  }
  .terms .list-block {
    margin-top: 28px;
    margin-bottom: 0;
  }
  .terms .list-block ul {
    margin-top: -10px;
    margin-bottom: 0;
  }
  .terms .list-block .list-title {
    font-size: 16px;
  }
  .terms .list-block .list-context-item {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .terms .list-block .list-bottom-text {
    font-size: 14px;
  }
  .world {
    padding-top: 25px;
    padding-bottom: 30px;
    height: 360px;
  }
  .world .title-wrapper .title {
    margin-top: 15px;
    font-size: 16px;
  }
  .world .title-wrapper .title-description {
    font-size: 15px;
    margin-top: 10px;
  }
  .world .bottom-text {
    width: 193px;
    font-size: 15px;
    bottom: 30px;
  }
  footer {
    height: 245px;
    padding: 0 18px 20px 18px;
  }
  footer .line {
    width: 253px;
  }
  footer .bottom-nav {
    width: 290px;
  }
  footer .bottom-nav .main-nav-item {
    font-size: 14px;
  }
  footer .bottom-nav .secondary-nav ul {
    font-size: 11px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 220px;
    margin: 10px auto;
  }
  footer .nav {
    margin-top: -35px;
  }
  footer div .social {
    margin-top: 15px;
  }
  footer div .market {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */