.container{
    width: 1130px;
    margin: 0 auto;
    font-family: Roboto;
}
@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/variables';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/WithPrengi';